<ion-header *ngIf="!isSend && existActiveSurvey">
    <ion-toolbar>
        <ion-title>
            {{currentSelectedCategorie.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="existActiveSurvey">
    <ion-list class="ion-padding" lines="none" *ngIf="!isSend">
        <ion-item *ngFor="let subCategorie of currentSelectedCategorie.subCategories">
            <ion-grid>
                <ion-col size="12">
                    <ion-label>{{subCategorie.name}}</ion-label>
                </ion-col>
                <ion-col size="12">
                    <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff" defaultColor="#f4f4f4" readonly="false" rating="{{subCategorie.rating}}" fontSize="40px" [(ngModel)]="subCategorie.rating" (ratingChanged)="logRatingChange($event)">
                    </ionic4-star-rating>
                </ion-col>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-text class="ion-padding ion-text-center" *ngIf="isSend"><h1>Vielen Dank für dein Feedback!</h1></ion-text>
</ion-content>

<ion-content *ngIf="!existActiveSurvey">
        <ion-text class="ion-padding ion-text-center"><h1>Zurzeit ist keine Umfrage aktiv! <br> Bitte versuchen sie es später erneut.</h1></ion-text>
        <div class="ion-padding ion-text-center">
            <button (click)="ionViewWillEnter()"> <ion-icon size="large" color="primary" name="refresh"></ion-icon></button>
        </div>       
</ion-content>

<ion-footer *ngIf="!isSend && existActiveSurvey">
    <ion-item>
        <ion-button slot="start" *ngIf="actualCategorie > 0" (click)="previousCategorie();">Zurück</ion-button>
        <ion-button slot="end" *ngIf="actualCategorie != categorieList.length-1" (click)="nextCategorie();">Weiter</ion-button>
        <ion-button slot="end" *ngIf="actualCategorie == categorieList.length-1" (click)="sendRating();">Senden</ion-button>
    </ion-item>

</ion-footer>