
  .accordion-list {
    margin-bottom: 4px;
    --ion-item-background: #ffffff;
  
    .section,
    .section-active {
      --min-height: 58px;
    }
  }
  
  .section {
    --ion-item-background: #ffffff;
    --ion-item-color: #000000;
  }
  
